<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta property="og:title" content="Modified RC4">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
  <meta name="HandheldFriendly" content="true" />
  <title>Modified RC4</title>
  <link type="text/css" rel="stylesheet"
    href="https://cdn.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f30e2a790832f3e96009402" />
</head>

<body>
  <form class="jotform-form" action="/action/keyboard" method="post"
    name="form_210552830390449" id="210552830390449" accept-charset="utf-8" autocomplete="on">
    <div role="main" class="form-all">
      <ul class="form-section page-section">
        <li id="cid_1" class="form-input-wide" data-type="control_head">
          <div class="form-header-group  header-large">
            <div class="header-text httal htvam">
              <h1 id="header_1" class="form-header" data-component="header">
                Modified RC4
              </h1>
              <div id="subHeader_1" class="form-subHeader">
                TUGAS 2 Kriptografi dan Koding
              </div>
            </div>
          </div>
        </li>
        <li class="form-line" data-type="control_textarea" id="id_4">
          <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> 
            {% if action == 'encrypt' %}
              Plaintext 
            {% else %}
              Ciphertext
            {% endif %}
          </label>
          <div id="cid_4" class="form-input-wide" data-layout="full">
            <textarea name="input_text" class="form-textarea" name="q4_plaintext" style="width:648px;height:163px"
              data-component="textarea" aria-labelledby="label_4"></textarea>
          </div>
        </li>
        <li class="form-line" data-type="control_textarea" id="id_13">
          <label class="form-label form-label-top form-label-auto"  for="input_13"> Key 1</label>
          <div id="cid_13" class="form-input-wide" data-layout="full">
            <textarea name="key_1" class="form-textarea" name="q13_key13" style="width:630px;height:40px"
              data-component="textarea" aria-labelledby="label_13"></textarea>
          </div>
        </li>
        <li class="form-line" data-type="control_textarea" id="id_13">
          <label class="form-label form-label-top form-label-auto" for="input_13"> Key 2</label>
          <div id="cid_13" class="form-input-wide" data-layout="full">
            <textarea name="key_2" class="form-textarea" name="q13_key13" style="width:630px;height:40px"
              data-component="textarea" aria-labelledby="label_13"></textarea>
          </div>
        </li>
        <li class="form-line" data-type="control_button" id="id_14">
          <div id="cid_14" class="form-input-wide" data-layout="full">
            <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
              <button id="input_14" type="submit"
                class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button"
                data-content="">
                {% if action == 'encrypt' %}
                  Encrypt 
                {% else %}
                  Decrypt
                {% endif %}
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <input name="action" type="hidden" value="{{ action }}"/>
  </form>
</body>

</html>